* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.board {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 60%;
  height: 60%;
  border: 1px solid black;
}
.row {
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  align-items: stretch;
}
.row button {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 18px;
  font-weight: initial;
  font-size: 2em;
}
.row button:hover {
  background-color: green;
  color: white;
}
.calculate {
  flex-basis: 60px;
  width: 60%;
  padding: 5px;
  font-weight: initial;
  font-size: 2em;
}
.display {
  flex-basis: 100px;
  background-color: grey;
  color: white;
  text-align: center;
  border: 1px solid black;
  width: 60%;
  padding: 20px;
  font-weight: initial;
  font-size: 3em;
}
span {
  font-size: 0.5em;
  color: red;
}
